.bodyContainer{
    background-image: url("../../assets/facundo-giovannone-lofilevelsequence-3574.jpg");
    height: 1000px;
}

.searchBarWrapper{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.resultsAndTrackListWrapper{
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.resultsWrapper, .trackListWrapper{
    background-color: #333333;
    opacity: 80%;
    border: 0.01rem whitesmoke solid;
    width: 40%;
}

.resultsWrapper{ 
    margin-right: 2.5%;
}