.trackListTextField{
    width: 100%;
    border: none;
    padding: 0;
    margin: 2% 0;
}

.songEntry{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;
    margin-left: 2%;
    padding-bottom: 5%;
    border-bottom: 0.01rem whitesmoke solid;
    border-top: 0.01rem whitesmoke solid;
}

.addButton{
    height: 30%;
}

.trackWrapper{
    width: 95%;
}

.addSpotifyButton{
    margin-bottom: 3%;
    background-color: #356de6;
    border: solid 0.1rem #323232;
    border-radius: 0.5rem;
    width: 8rem;
    height: 1.8rem;
    font-size: 0.9rem;
}

.addSpotifyButton:active{
    transform: translateY(15%);
    background-color: #2a4fa1;
}