.songEntry{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;
    margin-left: 2%;
    padding-bottom: 5%;
    border-bottom: 0.01rem whitesmoke solid;
    border-top: 0.01rem whitesmoke solid;
}

.addButton{
    height: 30%;
}

.trackWrapper{
    width: 95%;
}